body{
    background-color: crimson;
    color: beige;
}
header {
    background-color: beige;
    color: crimson;
}

img{
    max-width: 500px ;
    height: auto;
}
p {
    max-width: 500px;
    height: auto;
   
}