body{
    background-color: crimson;
    color: beige;
    margin: 10px;
}
header {
    background-color: beige;
    color: crimson;
}

img, p {
    max-width: 500px ;
    height: auto;
}
nav{
    padding: 10px;
}
